In [81]:
import numpy as np
import pandas as pd
import re
from scipy import stats

In [82]:
df = pd.read_csv("/home/viktor/Загрузки/which cities have the most CCTV cameras.csv")
df

,City,Country,# of CCTV Cameras,# of People,"# of CCTV Cameras per 1,000 People",Cameras per Square Mile,Crime Index
0,Taiyuan,China,465255.0,3975985.0,117.02,174.39,34.31
1,Wuxi,China,300000.0,3315113.0,90.49,472.66,7.84
2,London,England (UK),691000.0,9425622.0,73.31,1138.48,53.07
3,Indore,India,200600.0,3113445.0,64.43,133.29,49.88
4,Changsha,China,262000.0,4694722.0,55.81,353.85,21.38
...,...,...,...,...,...,...,...
130,Riyadh,Saudi Arabia,150.0,7387817.0,0.02,0.22,26.99
131,Abuja,Nigeria,40.0,3464123.0,0.01,0.01,59.57
132,Bekasi,Indonesia,29.0,3510050.0,0.01,0.35,35.85
133,Ibadan,Nigeria,10.0,3649023.0,0.00,0.00,50.08
134,Lagos,Nigeria,0.0,14862111.0,0.00,0.00,65.36

In [83]:
df.dtypes

City                                   object
Country                                object
# of CCTV Cameras                     float64
# of People                           float64
# of CCTV Cameras per 1,000 People    float64
Cameras per Square Mile               float64
Crime Index                           float64
dtype: object

In [84]:
df.shape

(135, 7)

In [85]:
df.head(137)

,City,Country,# of CCTV Cameras,# of People,"# of CCTV Cameras per 1,000 People",Cameras per Square Mile,Crime Index
0,Taiyuan,China,465255.0,3975985.0,117.02,174.39,34.31
1,Wuxi,China,300000.0,3315113.0,90.49,472.66,7.84
2,London,England (UK),691000.0,9425622.0,73.31,1138.48,53.07
3,Indore,India,200600.0,3113445.0,64.43,133.29,49.88
4,Changsha,China,262000.0,4694722.0,55.81,353.85,21.38
...,...,...,...,...,...,...,...
130,Riyadh,Saudi Arabia,150.0,7387817.0,0.02,0.22,26.99
131,Abuja,Nigeria,40.0,3464123.0,0.01,0.01,59.57
132,Bekasi,Indonesia,29.0,3510050.0,0.01,0.35,35.85
133,Ibadan,Nigeria,10.0,3649023.0,0.00,0.00,50.08
134,Lagos,Nigeria,0.0,14862111.0,0.00,0.00,65.36

In [86]:
camera = ['# of CCTV Cameras']
people = ['# of People']
index = ['Crime Index']

In [87]:
X = df[camera]
Y = df[people]
Z = df[index]

In [88]:
X['# of CCTV Cameras'].isnull().sum()

1

In [89]:
Y['# of People'].isnull().sum()

1

In [90]:
Z['Crime Index'].isnull().sum()

6

### Заполняем пустые значения медианными значениями:

In [91]:
X['# of CCTV Cameras'] = X['# of CCTV Cameras'].fillna(X['# of CCTV Cameras'].median)

<ipython-input-91-da67cef1f07b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['# of CCTV Cameras'] = X['# of CCTV Cameras'].fillna(X['# of CCTV Cameras'].median)

In [92]:
X['# of CCTV Cameras'].isnull().sum()

0

In [93]:
Y['# of People'] = Y['# of People'].fillna(Y['# of People'].median)

<ipython-input-93-5e8f76726d43>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y['# of People'] = Y['# of People'].fillna(Y['# of People'].median)

In [94]:
Y['# of People'].isnull().sum()

0

In [95]:
Z['Crime Index'] = Z['Crime Index'].fillna(Z['Crime Index'].median)

<ipython-input-95-71682254fb8e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Z['Crime Index'] = Z['Crime Index'].fillna(Z['Crime Index'].median)

In [96]:
Z['Crime Index'].isnull().sum()

0

In [97]:
X.shape

(135, 1)

In [98]:
Y.shape

(135, 1)

In [99]:
Z.shape

(135, 1)

In [100]:
n1 = 135
n2 = 135
n3 = 135

In [101]:
n = n1 + n2 + n3
n

405

In [102]:
k = 3

In [103]:
D_F1 = pd.DataFrame(X)
X_L = D_F1['# of CCTV Cameras'].tolist()
X_L

[465255.0,
 300000.0,
 691000.0,
 200600.0,
 262000.0,
 1150000.0,
 400000.0,
 262000.0,
 200000.0,
 150000.0,
 250000.0,
 375000.0,
 270000.0,
 1000000.0,
 160000.0,
 551500.0,
 310000.0,
 400000.0,
 160000.0,
 200000.0,
 113795.0,
 238000.0,
 350000.0,
 280000.0,
 200000.0,
 100000.0,
 300000.0,
 78260.0,
 108981.0,
 100000.0,
 290000.0,
 125145.0,
 120000.0,
 203600.0,
 55144.0,
 100000.0,
 53430.0,
 54000.0,
 60000.0,
 56300.0,
 34959.0,
 25200.0,
 35000.0,
 77564.0,
 77885.0,
 53971.0,
 109000.0,
 58190.0,
 22289.0,
 20000.0,
 32000.0,
 45000.0,
 17440.0,
 34000.0,
 25672.0,
 16800.0,
 37813.0,
 87000.0,
 42539.0,
 10847.0,
 12800.0,
 68988.0,
 19276.0,
 16470.0,
 8304.0,
 17320.0,
 46552.0,
 10995.0,
 24743.0,
 30000.0,
 22316.0,
 8330.0,
 5598.0,
 5000.0,
 4510.0,
 4000.0,
 39504.0,
 4402.0,
 14000.0,
 4291.0,
 22175.0,
 4400.0,
 2833.0,
 4000.0,
 3726.0,
 10000.0,
 6281.0,
 2850.0,
 3033.0,
 16000.0,
 8013.0,
 7881.0,
 2585.0,
 7547.0,
 4010.0,
 5000.0,
 2430.0,
 2503.0,
 2765.0,
 2995.0,
 2080.0,
 3000.0,
 3180.0,
 2000.0,
 1369.0,
 1500.0,
 2145.0,
 1000.0,
 1400.0,
 1000.0,
 780.0,
 2083.0,
 3086.0,
 1052.0,
 668.0,
 1076.0,
 640.0,
 1024.0,
 582.0,
 584.0,
 528.0,
 473.0,
 <bound method NDFrame._add_numeric_operations.<locals>.median of 0      465255.0
 1      300000.0
 2      691000.0
 3      200600.0
 4      262000.0
          ...
 130       150.0
 131        40.0
 132        29.0
 133        10.0
 134         0.0
 Name: # of CCTV Cameras, Length: 135, dtype: float64>,
 269.0,
 700.0,
 917.0,
 140.0,
 108.0,
 122.0,
 76.0,
 150.0,
 40.0,
 29.0,
 10.0,
 0.0]

In [104]:
D_F2 = pd.DataFrame(Y)
Y_L = D_F2['# of People'].tolist()
Y_L

[3975985.0,
 3315113.0,
 9425622.0,
 3113445.0,
 4694722.0,
 20896820.0,
 7845501.0,
 5742486.0,
 4550831.0,
 3790792.0,
 6526439.0,
 10268653.0,
 7427096.0,
 27795702.0,
 4543684.0,
 16349831.0,
 9305116.0,
 12591696.0,
 5513597.0,
 7373655.0,
 4371005.0,
 9143980.0,
 13794450.0,
 11235018.0,
 8473405.0,
 4520695.0,
 13635397.0,
 3709958.0,
 5991801.0,
 5510341.0,
 16382376.0,
 7451889.0,
 7323079.0,
 12593252.0,
 3725342.0,
 7406751.0,
 3974322.0,
 4199392.0,
 4991654.0,
 5504305.0,
 3983540.0,
 3153808.0,
 4434905.0,
 9967677.0,
 10722815.0,
 7598189.0,
 15415197.0,
 8230290.0,
 3566791.0,
 3407463.0,
 5775938.0,
 8274651.0,
 3244710.0,
 6668865.0,
 5259296.0,
 3764619.0,
 8837544.0,
 21918936.0,
 11078546.0,
 3153255.0,
 3764559.0,
 20667656.0,
 6254571.0,
 5926668.0,
 3144473.0,
 6807984.0,
 21322750.0,
 5061439.0,
 15257673.0,
 19110616.0,
 14974073.0,
 5624498.0,
 4278350.0,
 4103015.0,
 3880314.0,
 3562719.0,
 37339804.0,
 4247446.0,
 13544462.0,
 4263745.0,
 22237472.0,
 4874982.0,
 3469510.0,
 4955506.0,
 4727902.0,
 13095166.0,
 8253226.0,
 3793585.0,
 4119633.0,
 21741090.0,
 10915364.0,
 11167392.0,
 3726050.0,
 10882757.0,
 5989024.0,
 8210745.0,
 4033783.0,
 4160682.0,
 4709990.0,
 5421806.0,
 4174774.0,
 6811595.0,
 7489742.0,
 4922192.0,
 3388809.0,
 3969937.0,
 6139774.0,
 3531887.0,
 5215747.0,
 4007505.0,
 3465946.0,
 9259009.0,
 14158573.0,
 5132751.0,
 3394309.0,
 5516158.0,
 3343816.0,
 5354826.0,
 3193029.0,
 3264101.0,
 3176254.0,
 3229800.0,
 <bound method NDFrame._add_numeric_operations.<locals>.median of 0       3975985.0
 1       3315113.0
 2       9425622.0
 3       3113445.0
 4       4694722.0
           ...
 130     7387817.0
 131     3464123.0
 132     3510050.0
 133     3649023.0
 134    14862111.0
 Name: # of People, Length: 135, dtype: float64>,
 3212604.0,
 8631876.0,
 12764935.0,
 5005524.0,
 4335770.0,
 5381101.0,
 3742198.0,
 7387817.0,
 3464123.0,
 3510050.0,
 3649023.0,
 14862111.0]

In [105]:
D_F3 = pd.DataFrame(Z)
Z_L = D_F3['Crime Index'].tolist()
Z_L

[34.31,
 7.84,
 53.07,
 49.88,
 21.38,
 34.45,
 19.78,
 8.59,
 25.96,
 25.51,
 23.66,
 43.78,
 13.0,
 34.79,
 19.85,
 59.54,
 23.55,
 32.79,
 14.13,
 22.18,
 12.35,
 13.18,
 30.55,
 40.87,
 23.65,
 27.53,
 39.95,
 26.47,
 33.86,
 19.71,
 27.73,
 43.33,
 63.38,
 38.55,
 22.79,
 37.35,
 22.3,
 <bound method NDFrame._add_numeric_operations.<locals>.median of 0      34.31
 1       7.84
 2      53.07
 3      49.88
 4      21.38
        ...
 130    26.99
 131    59.57
 132    35.85
 133    50.08
 134    65.36
 Name: Crime Index, Length: 135, dtype: float64>,
 33.58,
 39.16,
 48.84,
 <bound method NDFrame._add_numeric_operations.<locals>.median of 0      34.31
 1       7.84
 2      53.07
 3      49.88
 4      21.38
        ...
 130    26.99
 131    59.57
 132    35.85
 133    50.08
 134    65.36
 Name: Crime Index, Length: 135, dtype: float64>,
 22.34,
 26.34,
 41.23,
 22.22,
 47.5,
 47.01,
 41.49,
 <bound method NDFrame._add_numeric_operations.<locals>.median of 0      34.31
 1       7.84
 2      53.07
 3      49.88
 4      21.38
        ...
 130    26.99
 131    59.57
 132    35.85
 133    50.08
 134    65.36
 Name: Crime Index, Length: 135, dtype: float64>,
 16.92,
 16.85,
 63.04,
 29.94,
 61.83,
 50.2,
 54.11,
 69.3,
 54.49,
 53.67,
 28.58,
 43.15,
 40.48,
 80.55,
 44.14,
 42.12,
 49.97,
 44.32,
 62.98,
 30.33,
 47.55,
 46.01,
 52.31,
 50.59,
 75.93,
 <bound method NDFrame._add_numeric_operations.<locals>.median of 0      34.31
 1       7.84
 2      53.07
 3      49.88
 4      21.38
        ...
 130    26.99
 131    59.57
 132    35.85
 133    50.08
 134    65.36
 Name: Crime Index, Length: 135, dtype: float64>,
 23.12,
 29.37,
 77.57,
 26.35,
 70.3,
 37.65,
 54.42,
 48.94,
 61.29,
 39.3,
 33.37,
 55.46,
 78.12,
 65.12,
 53.59,
 63.71,
 62.61,
 69.98,
 33.81,
 64.64,
 51.29,
 74.66,
 73.7,
 46.61,
 76.46,
 56.1,
 35.45,
 60.57,
 67.58,
 <bound method NDFrame._add_numeric_operations.<locals>.median of 0      34.31
 1       7.84
 2      53.07
 3      49.88
 4      21.38
        ...
 130    26.99
 131    59.57
 132    35.85
 133    50.08
 134    65.36
 Name: Crime Index, Length: 135, dtype: float64>,
 63.89,
 61.19,
 40.01,
 36.1,
 24.41,
 54.66,
 64.69,
 62.63,
 49.0,
 17.99,
 66.2,
 55.12,
 41.12,
 46.77,
 80.57,
 37.5,
 <bound method NDFrame._add_numeric_operations.<locals>.median of 0      34.31
 1       7.84
 2      53.07
 3      49.88
 4      21.38
        ...
 130    26.99
 131    59.57
 132    35.85
 133    50.08
 134    65.36
 Name: Crime Index, Length: 135, dtype: float64>,
 21.98,
 67.52,
 54.42,
 47.66,
 76.07,
 38.71,
 45.3,
 26.99,
 59.57,
 35.85,
 50.08,
 65.36]

###  Исключим все объекты оставив только числа и проведем однофакторный дисперсионный анализ:

In [106]:
index = 0
for it in X_L:
    if not isinstance(it, float):
        print(f"Not float: {index}", it.__class__)
    index += 1

Not float: 122 <class 'method'>

In [107]:
X_L_filtered = list(filter(lambda it: isinstance(it, float), X_L))
X_L_filtered

[465255.0,
 300000.0,
 691000.0,
 200600.0,
 262000.0,
 1150000.0,
 400000.0,
 262000.0,
 200000.0,
 150000.0,
 250000.0,
 375000.0,
 270000.0,
 1000000.0,
 160000.0,
 551500.0,
 310000.0,
 400000.0,
 160000.0,
 200000.0,
 113795.0,
 238000.0,
 350000.0,
 280000.0,
 200000.0,
 100000.0,
 300000.0,
 78260.0,
 108981.0,
 100000.0,
 290000.0,
 125145.0,
 120000.0,
 203600.0,
 55144.0,
 100000.0,
 53430.0,
 54000.0,
 60000.0,
 56300.0,
 34959.0,
 25200.0,
 35000.0,
 77564.0,
 77885.0,
 53971.0,
 109000.0,
 58190.0,
 22289.0,
 20000.0,
 32000.0,
 45000.0,
 17440.0,
 34000.0,
 25672.0,
 16800.0,
 37813.0,
 87000.0,
 42539.0,
 10847.0,
 12800.0,
 68988.0,
 19276.0,
 16470.0,
 8304.0,
 17320.0,
 46552.0,
 10995.0,
 24743.0,
 30000.0,
 22316.0,
 8330.0,
 5598.0,
 5000.0,
 4510.0,
 4000.0,
 39504.0,
 4402.0,
 14000.0,
 4291.0,
 22175.0,
 4400.0,
 2833.0,
 4000.0,
 3726.0,
 10000.0,
 6281.0,
 2850.0,
 3033.0,
 16000.0,
 8013.0,
 7881.0,
 2585.0,
 7547.0,
 4010.0,
 5000.0,
 2430.0,
 2503.0,
 2765.0,
 2995.0,
 2080.0,
 3000.0,
 3180.0,
 2000.0,
 1369.0,
 1500.0,
 2145.0,
 1000.0,
 1400.0,
 1000.0,
 780.0,
 2083.0,
 3086.0,
 1052.0,
 668.0,
 1076.0,
 640.0,
 1024.0,
 582.0,
 584.0,
 528.0,
 473.0,
 269.0,
 700.0,
 917.0,
 140.0,
 108.0,
 122.0,
 76.0,
 150.0,
 40.0,
 29.0,
 10.0,
 0.0]

In [108]:
X_mean = np.mean(X_L_filtered)
X_mean

90518.02985074627

In [109]:
index = 0
for it in Y_L:
    if not isinstance(it, float):
        print(f"Not float: {index}", it.__class__)
    index += 1

Not float: 122 <class 'method'>

In [110]:
Y_L_filtered = list(filter(lambda it: isinstance(it, float), Y_L))

In [111]:
Y_mean = np.mean(Y_L_filtered)
Y_mean

7680241.634328358

In [112]:
index = 0
for it in Z_L:
    if not isinstance(it, float):
        print(f"Not float: {index}", it.__class__)
    index += 1

Not float: 37 <class 'method'>
Not float: 41 <class 'method'>
Not float: 49 <class 'method'>
Not float: 75 <class 'method'>
Not float: 105 <class 'method'>
Not float: 122 <class 'method'>

In [113]:
Z_L_filtered = list(filter(lambda it: isinstance(it, float), Z_L))

In [114]:
Z_mean = np.mean(Z_L_filtered)
Z_mean

43.82294573643411

### Занесем все значения в один массив:

In [118]:
XYZ_all = np.concatenate([X_L_filtered,Y_L_filtered,Z_L_filtered])
XYZ_all

array([4.6525500e+05, 3.0000000e+05, 6.9100000e+05, 2.0060000e+05,
       2.6200000e+05, 1.1500000e+06, 4.0000000e+05, 2.6200000e+05,
       2.0000000e+05, 1.5000000e+05, 2.5000000e+05, 3.7500000e+05,
       2.7000000e+05, 1.0000000e+06, 1.6000000e+05, 5.5150000e+05,
       3.1000000e+05, 4.0000000e+05, 1.6000000e+05, 2.0000000e+05,
       1.1379500e+05, 2.3800000e+05, 3.5000000e+05, 2.8000000e+05,
       2.0000000e+05, 1.0000000e+05, 3.0000000e+05, 7.8260000e+04,
       1.0898100e+05, 1.0000000e+05, 2.9000000e+05, 1.2514500e+05,
       1.2000000e+05, 2.0360000e+05, 5.5144000e+04, 1.0000000e+05,
       5.3430000e+04, 5.4000000e+04, 6.0000000e+04, 5.6300000e+04,
       3.4959000e+04, 2.5200000e+04, 3.5000000e+04, 7.7564000e+04,
       7.7885000e+04, 5.3971000e+04, 1.0900000e+05, 5.8190000e+04,
       2.2289000e+04, 2.0000000e+04, 3.2000000e+04, 4.5000000e+04,
       1.7440000e+04, 3.4000000e+04, 2.5672000e+04, 1.6800000e+04,
       3.7813000e+04, 8.7000000e+04, 4.2539000e+04, 1.0847000e+04,
       1.2800000e+04, 6.8988000e+04, 1.9276000e+04, 1.6470000e+04,
       8.3040000e+03, 1.7320000e+04, 4.6552000e+04, 1.0995000e+04,
       2.4743000e+04, 3.0000000e+04, 2.2316000e+04, 8.3300000e+03,
       5.5980000e+03, 5.0000000e+03, 4.5100000e+03, 4.0000000e+03,
       3.9504000e+04, 4.4020000e+03, 1.4000000e+04, 4.2910000e+03,
       2.2175000e+04, 4.4000000e+03, 2.8330000e+03, 4.0000000e+03,
       3.7260000e+03, 1.0000000e+04, 6.2810000e+03, 2.8500000e+03,
       3.0330000e+03, 1.6000000e+04, 8.0130000e+03, 7.8810000e+03,
       2.5850000e+03, 7.5470000e+03, 4.0100000e+03, 5.0000000e+03,
       2.4300000e+03, 2.5030000e+03, 2.7650000e+03, 2.9950000e+03,
       2.0800000e+03, 3.0000000e+03, 3.1800000e+03, 2.0000000e+03,
       1.3690000e+03, 1.5000000e+03, 2.1450000e+03, 1.0000000e+03,
       1.4000000e+03, 1.0000000e+03, 7.8000000e+02, 2.0830000e+03,
       3.0860000e+03, 1.0520000e+03, 6.6800000e+02, 1.0760000e+03,
       6.4000000e+02, 1.0240000e+03, 5.8200000e+02, 5.8400000e+02,
       5.2800000e+02, 4.7300000e+02, 2.6900000e+02, 7.0000000e+02,
       9.1700000e+02, 1.4000000e+02, 1.0800000e+02, 1.2200000e+02,
       7.6000000e+01, 1.5000000e+02, 4.0000000e+01, 2.9000000e+01,
       1.0000000e+01, 0.0000000e+00, 3.9759850e+06, 3.3151130e+06,
       9.4256220e+06, 3.1134450e+06, 4.6947220e+06, 2.0896820e+07,
       7.8455010e+06, 5.7424860e+06, 4.5508310e+06, 3.7907920e+06,
       6.5264390e+06, 1.0268653e+07, 7.4270960e+06, 2.7795702e+07,
       4.5436840e+06, 1.6349831e+07, 9.3051160e+06, 1.2591696e+07,
       5.5135970e+06, 7.3736550e+06, 4.3710050e+06, 9.1439800e+06,
       1.3794450e+07, 1.1235018e+07, 8.4734050e+06, 4.5206950e+06,
       1.3635397e+07, 3.7099580e+06, 5.9918010e+06, 5.5103410e+06,
       1.6382376e+07, 7.4518890e+06, 7.3230790e+06, 1.2593252e+07,
       3.7253420e+06, 7.4067510e+06, 3.9743220e+06, 4.1993920e+06,
       4.9916540e+06, 5.5043050e+06, 3.9835400e+06, 3.1538080e+06,
       4.4349050e+06, 9.9676770e+06, 1.0722815e+07, 7.5981890e+06,
       1.5415197e+07, 8.2302900e+06, 3.5667910e+06, 3.4074630e+06,
       5.7759380e+06, 8.2746510e+06, 3.2447100e+06, 6.6688650e+06,
       5.2592960e+06, 3.7646190e+06, 8.8375440e+06, 2.1918936e+07,
       1.1078546e+07, 3.1532550e+06, 3.7645590e+06, 2.0667656e+07,
       6.2545710e+06, 5.9266680e+06, 3.1444730e+06, 6.8079840e+06,
       2.1322750e+07, 5.0614390e+06, 1.5257673e+07, 1.9110616e+07,
       1.4974073e+07, 5.6244980e+06, 4.2783500e+06, 4.1030150e+06,
       3.8803140e+06, 3.5627190e+06, 3.7339804e+07, 4.2474460e+06,
       1.3544462e+07, 4.2637450e+06, 2.2237472e+07, 4.8749820e+06,
       3.4695100e+06, 4.9555060e+06, 4.7279020e+06, 1.3095166e+07,
       8.2532260e+06, 3.7935850e+06, 4.1196330e+06, 2.1741090e+07,
       1.0915364e+07, 1.1167392e+07, 3.7260500e+06, 1.0882757e+07,
       5.9890240e+06, 8.2107450e+06, 4.0337830e+06, 4.1606820e+06,
       4.7099900e+06, 5.4218060e+06, 4.1747740e+06, 6.8115950e+06,
       7.4897420e+06, 4.9221920e+06, 3.3888090e+06, 3.9699370e+06,
       6.1397740e+06, 3.5318870e+06, 5.2157470e+06, 4.0075050e+06,
       3.4659460e+06, 9.2590090e+06, 1.4158573e+07, 5.1327510e+06,
       3.3943090e+06, 5.5161580e+06, 3.3438160e+06, 5.3548260e+06,
       3.1930290e+06, 3.2641010e+06, 3.1762540e+06, 3.2298000e+06,
       3.2126040e+06, 8.6318760e+06, 1.2764935e+07, 5.0055240e+06,
       4.3357700e+06, 5.3811010e+06, 3.7421980e+06, 7.3878170e+06,
       3.4641230e+06, 3.5100500e+06, 3.6490230e+06, 1.4862111e+07,
       3.4310000e+01, 7.8400000e+00, 5.3070000e+01, 4.9880000e+01,
       2.1380000e+01, 3.4450000e+01, 1.9780000e+01, 8.5900000e+00,
       2.5960000e+01, 2.5510000e+01, 2.3660000e+01, 4.3780000e+01,
       1.3000000e+01, 3.4790000e+01, 1.9850000e+01, 5.9540000e+01,
       2.3550000e+01, 3.2790000e+01, 1.4130000e+01, 2.2180000e+01,
       1.2350000e+01, 1.3180000e+01, 3.0550000e+01, 4.0870000e+01,
       2.3650000e+01, 2.7530000e+01, 3.9950000e+01, 2.6470000e+01,
       3.3860000e+01, 1.9710000e+01, 2.7730000e+01, 4.3330000e+01,
       6.3380000e+01, 3.8550000e+01, 2.2790000e+01, 3.7350000e+01,
       2.2300000e+01, 3.3580000e+01, 3.9160000e+01, 4.8840000e+01,
       2.2340000e+01, 2.6340000e+01, 4.1230000e+01, 2.2220000e+01,
       4.7500000e+01, 4.7010000e+01, 4.1490000e+01, 1.6920000e+01,
       1.6850000e+01, 6.3040000e+01, 2.9940000e+01, 6.1830000e+01,
       5.0200000e+01, 5.4110000e+01, 6.9300000e+01, 5.4490000e+01,
       5.3670000e+01, 2.8580000e+01, 4.3150000e+01, 4.0480000e+01,
       8.0550000e+01, 4.4140000e+01, 4.2120000e+01, 4.9970000e+01,
       4.4320000e+01, 6.2980000e+01, 3.0330000e+01, 4.7550000e+01,
       4.6010000e+01, 5.2310000e+01, 5.0590000e+01, 7.5930000e+01,
       2.3120000e+01, 2.9370000e+01, 7.7570000e+01, 2.6350000e+01,
       7.0300000e+01, 3.7650000e+01, 5.4420000e+01, 4.8940000e+01,
       6.1290000e+01, 3.9300000e+01, 3.3370000e+01, 5.5460000e+01,
       7.8120000e+01, 6.5120000e+01, 5.3590000e+01, 6.3710000e+01,
       6.2610000e+01, 6.9980000e+01, 3.3810000e+01, 6.4640000e+01,
       5.1290000e+01, 7.4660000e+01, 7.3700000e+01, 4.6610000e+01,
       7.6460000e+01, 5.6100000e+01, 3.5450000e+01, 6.0570000e+01,
       6.7580000e+01, 6.3890000e+01, 6.1190000e+01, 4.0010000e+01,
       3.6100000e+01, 2.4410000e+01, 5.4660000e+01, 6.4690000e+01,
       6.2630000e+01, 4.9000000e+01, 1.7990000e+01, 6.6200000e+01,
       5.5120000e+01, 4.1120000e+01, 4.6770000e+01, 8.0570000e+01,
       3.7500000e+01, 2.1980000e+01, 6.7520000e+01, 5.4420000e+01,
       4.7660000e+01, 7.6070000e+01, 3.8710000e+01, 4.5300000e+01,
       2.6990000e+01, 5.9570000e+01, 3.5850000e+01, 5.0080000e+01,
       6.5360000e+01])

In [119]:
XYZ_mean = np.mean(XYZ_all)
XYZ_mean

2622890.2976322416

### Находим сумму квадратов:

In [120]:
S_2 = np.sum((XYZ_all - XYZ_mean)**2)
S_2

9417826209854872.0

In [121]:
S_2f = ((X_mean - XYZ_mean)**2)*n1 + ((Y_mean - XYZ_mean)**2)*n2 + ((Z_mean - XYZ_mean)**2)*n3
S_2f

5247319789150139.0

### Находим общую дисперсию:

In [122]:
sigma2_general = S_2 / (n-1)
sigma2_general

23311451014492.258

### Находим факторную дисперсию:

In [123]:
sigma2_f = S_2f / (k-1)
sigma2_f

2623659894575069.5

In [126]:
St = stats.f.ppf(0.95,2,132)
St

3.0647606768696796

In [127]:
St = stats.f_oneway(X_L_filtered,Y_L_filtered,Z_L_filtered)
St

F_onewayResult(statistic=240.18459211428106, pvalue=6.293200848973555e-69)